:root {
    --primary-color: #D3506B;
    --secondary-color: #FFB792;
    --light-purple: #F6DEFF;
    --dark-purple: #58236B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #444;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Poppins';
    background-color: #F1F2FB;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}

.fs-1 {
    font-size: clamp(1rem, 6vw, 5rem);
}
.fs-2 {
    font-size: clamp(1rem, 5vw, 3.5rem);
}

img {
    width: 4rem;
    display: block;
}

svg {
    fill: #444;
    display: block;
}

/* NAVBAR */
nav {
    z-index: 100;
    top: 0;
    position: sticky;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    gap: 2rem;
    background-color: #F1F2FB;
}

nav .nav-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
}

nav .nav-logo span {
    font-weight: 600;
    font-size: 1.5rem;
}

nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .nav-menu a {
    padding: 1rem 0;
}
nav .nav-menu a:hover {
    color: var(--primary-color);
}
nav .nav-menu a.active {
    color: var(--primary-color);
}

/* NAV | DROPDOWN */
nav .nav-menu .dropdown > a {
    cursor: default;
    display: flex;
    align-items: center;
    gap: 5px;
}
nav .nav-menu .dropdown:hover > a {
    color: var(--primary-color);
}
nav .nav-menu .dropdown:hover > a > svg {
    fill: var(--primary-color);
}

nav .nav-menu .dropdown a:hover > svg {
    fill: var(--primary-color);
}

/* DROPDOWN HIDE */
nav .nav-menu .dropdown-content {
    position: absolute;
    padding: 5px;
    display: none;
    margin-top: -5px;
    background-color: #F1F2FB;
    border: 1px solid #DDD;
    border-radius: 5px;
}
/* DROPDOWN SHOW */
nav .nav-menu .dropdown:hover > .dropdown-content {
    display: block;
}

nav .nav-menu .dropdown-content a {
    display: block;
    line-height: 0;
    padding: 1rem 10px;
}
nav .nav-menu .dropdown-content a:hover {
    color: #444;
    background-color: #D3506B10;
    border-radius: 3px;
}
nav .nav-menu .dropdown-content a:active {
    color: var(--primary-color);
}

/* BREADCRUMB */
.breadcrumb {
    padding: .5rem 1.5rem;
    margin: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #D3506B10;
    border-radius: 100px;
}

.breadcrumb .home {
    display: flex;
    align-items: center;
    gap: 5px;
}
.breadcrumb .home:hover {
    text-decoration: underline;
}

.breadcrumb a.active {
    color: var(--primary-color);
}