:root {
    --primary-color: #D3506B;
    --secondary-color: #FFB792;
    --light-purple: #F6DEFF;
    --dark-purple: #58236B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #444444;
}
*::selection {
    color: orange;
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Poppins';
    background-color: #FFFFFF;
}

img {
    width: 4rem;
    display: block;
}

/* NAVBAR */
nav {
    z-index: 999;
    top: 0;
    position: sticky;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #FFFFFFBF;
    backdrop-filter: blur(15px);
}

nav a {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a:hover > img {
    opacity: 1;
}

nav a img {
    opacity: 0.8;
    transition: .2s ease-in-out;
}

nav a h2 {
    font-weight: 600;
}

nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav-menu a {
    cursor: pointer;
    padding: 10px 0;
    transition: .2s ease-in-out;
}
nav .nav-menu a:hover {
    color: var(--primary-color);
}
nav .nav-menu a.active {
    color: var(--primary-color);
}

nav .nav-menu .nav-dropdown a > i {
    transition: .2s ease-in-out;
}
nav .nav-menu .nav-dropdown a:hover > i {
    color: var(--primary-color);
}

/* NAVBAR | DROPDOWN: NONE */
nav .nav-menu .nav-dropdown .nav-dropdown-content {
    position: absolute;
    padding: 10px 20px;
    display: none;
    line-height: 10px;
    background-color: #F1F2F4;
    border: 1.5px solid #444444;
    border-radius: 5px;
}
/* NAVBAR | DROPDOWN: SHOW */
nav .nav-menu .nav-dropdown:hover > .nav-dropdown-content {
    display: block;
}

nav .nav-menu .nav-dropdown a {
    display: flex;
    gap: 5px;
}

/* NAVBAR | CHECKBOX */
nav #checkbox {
    display: none;
}
nav #overlay {
    display: none;
}

nav .open-sidebar {
    display: none;
}
/* NAVBAR | SIDEBAR */
nav .sidebar {
    display: none;
}

/* BREADCRUMB */
.breadcrumb {
    padding: 2rem 3rem;
}

.breadcrumb a:first-child:hover {
    text-decoration: underline;
}
.breadcrumb a.active {
    color: var(--primary-color);
}

/* MAIN */
main {
    padding: 0 3rem 3rem 3rem;
}

main h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
}

main p {
    margin-top: 1rem;
}

main .container {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

/* MAIN | SAMBUTAN */
main .container .sambutan {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .container .sambutan .sambutan-wrapper img {
    width: 300px;
    margin-bottom: 1rem;
    background-color: royalblue;
    border-radius: 1rem;
}

main .container .sambutan .sambutan-wrapper h2 {
    font-size: 2rem;
    font-weight: 600;
}

main .container .sambutan .sambutan-wrapper p {
    text-align: justify;
}

/* MAIN | SIDE-CONTENT */
main .container .side-content {
    width: 30%;
}

main .container .side-content .humas {
    top: 5rem;
    position: sticky;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #F1F2F4;
    box-shadow: 5px 5px 0 0 #444444;
    border: 1.5px solid #444444;
    border-radius: 0.5rem;
}

main .container .side-content .humas a {
    padding: 4px 20px;
    margin-top: 1rem;
    display: inline-block;
    color: #FFFFFF;
    background-color: #444444;
    border-radius: 100px;
    transition: .2s ease-in-out;
}
main .container .side-content .humas a:hover {
    background-color: var(--primary-color);
    box-shadow: 2px 2px 0 0 var(--secondary-color);
    transform: scale(1.1);
}
main .container .side-content .humas i {
    color: #FFFFFF;
}

/* FOOTER */
footer {
    padding: 3rem;
    background-color: #444444;
}

footer .footer-info {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

/* FOOTER | INFO BEM */
footer .footer-info .info-bem {
    width: 40%;
}

footer .footer-info .info-bem a {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .footer-info .info-bem a:hover > img {
    opacity: 1;
}

footer .footer-info .info-bem a img {
    opacity: 0.8;
    transition: .2s ease-in-out;
}

footer .footer-info .info-bem a h2 {
    color: #FFFFFF;
    font-weight: 600;
}

footer .footer-info .info-bem p {
    color: #CCCCCC;
}

/* FOOTER | INFO KONTAK */
footer .footer-info .info-kontak {
    width: 30%;
}

footer .footer-info .info-kontak p {
    font-size: 1.4rem;
    color: #FFFFFF;
}

footer .footer-info .info-kontak ul {
    line-height: 2;
}
footer .footer-info .info-kontak ul a {
    color: #CCCCCC;
}
footer .footer-info .info-kontak ul i {
    color: #FFFFFF;
}

footer .footer-info .info-kontak a:hover {
    color: #FFFFFF;
}

/* FOOTER | INFO SOSMED */
footer .footer-info .info-sosmed p {
    font-size: 1.4rem;
    color: #FFFFFF;
}

footer .footer-info .info-sosmed ul {
    line-height: 2;
}
footer .footer-info .info-sosmed ul a {
    color: #CCCCCC;
}
footer .footer-info .info-sosmed ul i {
    color: #FFFFFF;
}

footer .footer-info .info-sosmed a:hover {
    color: #FFFFFF;
}

/* FOOTER | HAK CIPTA */
footer .hakcipta {
    border-top: 1.5px solid #555555;
}

footer .hakcipta p {
    margin-top: 2rem;
    color: #CCCCCC;
}