:root {
    --primary-color: #D3506B;
    --secondary-color: #FFB792;
    --light-purple: #F6DEFF;
    --dark-purple: #58236B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #444;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Poppins';
    background-color: #F1F2FB;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}

img {
    width: 4rem;
    display: block;
}

svg {
    fill: #444;
    display: block;
}

/* NAVBAR */
nav {
    z-index: 100;
    top: 0;
    position: sticky;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    gap: 2rem;
    background-color: #F1F2FB;
}

nav .nav-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
}

nav .nav-logo span {
    font-weight: 600;
    font-size: 1.5rem;
}

nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .nav-menu a {
    padding: 1rem 0;
}
nav .nav-menu a:hover {
    color: var(--primary-color);
}
nav .nav-menu a.active {
    color: var(--primary-color);
}

/* NAV | DROPDOWN */
nav .nav-menu .dropdown > a {
    cursor: default;
    display: flex;
    align-items: center;
    gap: 5px;
}
nav .nav-menu .dropdown:hover > a {
    color: var(--primary-color);
}
nav .nav-menu .dropdown:hover > a > svg {
    fill: var(--primary-color);
}

nav .nav-menu .dropdown a:hover > svg {
    fill: var(--primary-color);
}

/* DROPDOWN HIDE */
nav .nav-menu .dropdown-content {
    position: absolute;
    padding: 5px;
    display: none;
    margin-top: -5px;
    background-color: #F1F2FB;
    border: 1px solid #DDD;
    border-radius: 5px;
}
/* DROPDOWN SHOW */
nav .nav-menu .dropdown:hover > .dropdown-content {
    display: block;
}

nav .nav-menu .dropdown-content a {
    display: block;
    line-height: 0;
    padding: 1rem 10px;
}
nav .nav-menu .dropdown-content a:hover {
    color: #444;
    background-color: #D3506B10;
    border-radius: 3px;
}
nav .nav-menu .dropdown-content a:active {
    color: var(--primary-color);
}

/* BREADCRUMB */
.breadcrumb {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #D3506B10;
}

.breadcrumb .home {
    display: flex;
    align-items: center;
    gap: 5px;
}
.breadcrumb .home:hover {
    text-decoration: underline;
}

.breadcrumb a.active {
    color: var(--primary-color);
}

/* HEADER */
header {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

/* MAIN */
main {
    margin: 0 3rem 3rem 3rem;
    display: flex;
    gap: 3rem;
}

main article {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

main article .sambutan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main article .sambutan figure {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main article .sambutan figure img {
    width: 100%;
    height: auto;
    background-color: royalblue;
    border-radius: 10px;
}

main article .sambutan figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    color: #F1F2FB;
    background-color: #D3506B90;
    border-radius: 0 0 10px 10px;
}

/* ASIDE CONTENT */

main aside {
    width: 30%;
}

aside .collaboration {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #D3506B20;
    border-radius: 10px;
}

aside .collaboration p {
    line-height: 1.5;
}

aside .collaboration a {
    display: inline-block;
    padding: 5px 1rem;
    color: #F1F2FB;
    background-color: var(--primary-color);
    border-radius: 100px;
    transition: .2s ease-in-out;
}
aside .collaboration a:hover > i {
    padding-right: 5px;
}
aside .collaboration a::after {
    content: "WhatsApp";
    padding-left: 5px;
}
aside .collaboration a:hover::after {
    content: "Humas";
}


aside .collaboration a i {
    color: #F1F2FB;
    transition: .2s ease-in-out;
}