* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';
    background-color: #EFEFEF;
}

/* NAVBAR */
nav {
    z-index: 999;
    top: 0;
    position: sticky;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope';
    background-color: rgba(239, 239, 239, 0.85);
    backdrop-filter: blur(5px);
}

nav .nav-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .nav-logo h2 {
    color: #444;
    font-weight: 800;
}

nav .nav-logo img {
    width: 60px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul a {
    padding: 5px 0;
    font-size: 1.05rem;
    font-weight: 600;
    color: #444;
    transition: .2s ease-in-out;
}
nav ul a:hover {
    color: #D3506B;
}
nav ul a.aktif {
    color: #D3506B;
}

/* HEADER */
header {
    width: 100%;
    padding: 0 50px;
}

/* KABINET HEAD */
header .kabinet {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .kabinet h2 {
    font-size: 4rem;
    color: #444;
}
header .kabinet h1 {
    margin-top: -20px;
    font-size: 4rem;
    background: linear-gradient(to right, #FFB792, #D3506B, #FFB792);
    background-clip: text;
    color: transparent;
}

/* GAMBAR FULL TEAM */
header .full-team img {
    width: 100%;
    border-radius: 20px;
}

/* MAIN */
main {
    padding: 100px 0 0 0;
}

/* MAIN HEAD */
main .main-head h2 {
    font-size: 3rem;
}
main .main-head p {
    font-size: 1.1rem;
}

main .mh-sambut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .mh-sambut h2 {
    color: #FFF;
}
main .mh-sambut p {
    color: #DEDEDE;
    text-align: center;
}
/* SAMBUTAN CONTAINER */
main .sambutan-container {
    padding: 50px 80px;
    margin: 0 50px;
    background-image: url(/src/images/texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
}

/* SAMBUTAN BOX */
main .sambutan-box {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

main .sambutan-bem {
    width: 46%;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: self-start;
    gap: 10px;
    background: linear-gradient(to bottom left, #ffb69282, #00000030, #00000030, #FFB792);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

main .sambutan-box .sambutan-bem .sambutan-bem-gambar img {
    width: 250px;
    border-radius: 100%;
}

main .sambutan-box .sambutan-bem .sambutan-bem-jabatan {
    padding: 2.5px 25px;
    color: #FFF;
    background-color: #FFB69280;
    border-radius: 5px;
}
main .sambutan-box .sambutan-bem .sambutan-bem-jabatan h3 {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 1.15rem;
}

main .sambutan-box .sambutan-bem .sambutan-bem-teks {
    color: #DEDEDE;
    text-align: center;
}

/* INPUT HIDDEN */
main .sambutan-bem input {
    display: none;
}

/* TEKS HIDDEN */
main .sambutan-box .sambutan-bem .sambutan-bem-teks .sambutan-bem-teks-hidden {
    margin-top: 30px;
    display: none;
    text-align: start;
    color: #FFF;
}
/* TEKS SHOW */
/* TS-PRESMA */
#check-p:checked ~ .sambutan-bem-teks-hidden {
    display: block;
}
/* TS-WAPRESMA */
#check-wp:checked ~ .sambutan-bem-teks-hidden {
    display: block;
}

/* LABEL */
main .sambutan-box .sambutan-bem .sambutan-bem-label label {
    cursor: pointer;
    font-size: 5px;
    padding: 0 100px;
    background: linear-gradient(to right, #FFDCCA, #FFA1B4);
    border-radius: 100px;
}

main .mh-kementrian {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .mh-kementrian h2 {
    color: #000;
}
main .mh-kementrian p {
    color: #666;
    text-align: center;
}
/* KEMENTRIAN CONTAINER */
main .kementrian-container {
    margin-top: 100px;
    padding: 100px 50px;
    background-color: #CCC;
}

/* KEMENTRIAN BOX */
main .kementrian-box {
    padding: 50px 180px;
    background-color: #DDD;
    border-radius: 20px;
}

/* KEMENTRIAN DIVISI */
main .kementrian-container .kementrian-divisi {
    margin: 50px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .kementrian-container .kementrian-divisi .divisi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #EAEAEA;
    border-radius: 10px;
}

main .kementrian-container .kementrian-divisi .divisi h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

/* KEMENTRIAN JUMLAH */
main .kementrian-container .kementrian-jumlah {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .kementrian-container .kementrian-jumlah .jumlah {
    margin-bottom: 10px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .kementrian-container .kementrian-jumlah .jumlah h3 {
    font-size: 4rem;
}
main .kementrian-container .kementrian-jumlah .jumlah p {
    font-size: 1rem;
    margin-top: -20px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    nav {
        display: flex;
        justify-content: center;
    }
    /* BLM SELESAI, SIDEBAR */
    nav ul {
        display: none;
    }

    /* HEADER */
    header {
        padding: 0 15px;
    }

    /* KABINET HEAD */
    header .kabinet {
        padding: 60px 0;
    }

    header .kabinet h2 {
        font-size: 3rem;
    }

    header .kabinet h1 {
        margin-top: 1px;
        font-size: 3rem;
        text-align: center;
        line-height: 1;
    }

    /* MAIN */
    main {
        padding: 60px 0 0 0;
    }

    /* SAMBUTAN CONTAINER */
    main .sambutan-container {
        margin: 0 15px;
        padding: 20px 50px;
    }

    /* SAMBUTAN BOX */
    main .sambutan-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    main .sambutan-bem {
        width: 100%;
    }

    main .mh-kementrian p {
        line-height: 1.4;
    }
    /* KEMENTRIAN CONTAINER */
    main .kementrian-container {
        margin-top: 70px;
        padding: 70px 15px;
    }

    /* KEMENTRIAN BOX */
    main .kementrian-box {
        padding: 40px 35px;
    }

    /* KEMENTRIAN JUMLAH */
    main .kementrian-container .kementrian-jumlah .jumlah h3 {
        font-size: 3.5rem;
        font-weight: 600;
    }
}