* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: 'Poppins';
    background-color: #EFEFEF;
}

/* NAVBAR */
nav {
    top: 0;
    position: sticky;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.89);
    backdrop-filter: blur(5px);
}

nav .nav-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 800;
    color: #D3506B;
}

nav .nav-logo h2 {
    font-family: 'Manrope';
    font-weight: 800;
}

nav .nav-logo img {
    width: 60px;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul a {
    color: #D3506B;
    font-family: 'Manrope';
    font-size: 1.05rem;
    font-weight: 600;
    transition: .2s ease-in-out;
}
nav ul a:hover {
    color: #FFB792;
}

/* HEADER */
header {
    width: 100%;
    padding: 0 50px;
}

header .kabinet {
    text-align: center;
    padding: 50px 0;
}

header .kabinet h3 {
    font-size: 2.5rem;
    color: #444;
}
header .kabinet h2 {
    font-size: 3.5rem;
    margin-top: -20px;
    background: linear-gradient(to right, #D3506B, #FFB792);
    background-clip: text;
    color: transparent;
}

header .fullteam {
    padding: 0 0 50px 0;
}

header .fullteam img {
    width: 100%;
    border-radius: 20px;
}

/* MAIN */
main {
    padding: 0 50px;
    background-color: #FFF;
}

main h2 {
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 2.5rem;
    color: #444;
}

main .sambutan {
    width: 100%;
    padding: 30px;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

main .ketua {
    background: linear-gradient(to left, #EFEFEF, #EFEFEF, #EFEFEF, #D3506B);
}
main .wakil {
    background: linear-gradient(to right, #EFEFEF, #EFEFEF, #EFEFEF, #D3506B);
}

main .sambutan .sambutanText {
    width: 67%;
    text-align: justify;
}

main .sambutan .sambutanText .jabatan {
    padding: 5px 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFF9F6;
    background: linear-gradient(to bottom right, #D3506B, #FFB792);
    border-radius: 5px;
}

main .sambutan .sambutanPict {
    width: 27%;
}

main .sambutan .sambutanPict img {
    width: 100%;
    border-radius: 100%;
}