* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';
    background-color: #EEE;
}

/* NAVIGASI */
nav {
    z-index: 999;
    top: 0;
    position: sticky;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEEAA;
    backdrop-filter: blur(10px);
}
/* NAV LOGO */
nav .nav-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    transition: all .2s ease-in-out;
}
nav .nav-logo a:hover {
    color: #666;
}
nav .nav-logo img {
    width: 60px;
}
nav .nav-logo h2 {
    font-weight: 600;
}
/* NAV MENU */
nav .nav-menu ul {
    display: flex;
    gap: 10px;
}
nav .nav-menu a {
    padding: 5px 10px;
    color: #333;
    transition: all .2s ease-in-out;
}
nav .nav-menu a:hover {
    color: #D3506B;
}
nav .nav-menu a.aktif {
    color: #D3506B;
}

/* HEADER */
header {
    padding: 40px 50px;
    background: radial-gradient(#FFB79288, #EEE, #EEE);
}
header .head-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* KABINET */
header .head-kabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .head-kabinet .nama-kabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .head-kabinet .kabinet {
    font-size: 2rem;
    color: #333;
}
header .head-kabinet .nama-kabinet {
    font-size: 3rem;
    background: linear-gradient(to right, #FFB792, #D3506B, #FFB792);
    background-clip: text;
    color: transparent;
}
header .head-kabinet .nama-kabinet h2:last-child {
    margin-top: -40px;
}
/* BEM 2024 */
header .head-bem img {
    width: 100%;
    border-radius: 20px;
}

/* MAIN */
main {
    padding: 40px 0;
    background-color: #DDD;
}
/* SAMBUTAN */
main .sambutan-container {
    padding: 40px 50px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-image: url(/src/images/texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
}
/* SAMBUTAN HEAD */
main .sambutan-head {
    text-align: center;
}
main .sambutan-head h2 {
    font-size: 3rem;
    color: #FFF;
}
main .sambutan-head p {
    color: #DFDFDF;
}
/* SAMBUTAN GROUP */
main .sambutan-group {
    display: flex;
    justify-content: space-between;
}
/* SAMBUTAN CARD */
main .sambutan-card {
    width: 48%;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: self-start;
    gap: 20px;
    border: 1.5px solid #FFB79266;
    border-radius: 15px;
    backdrop-filter: blur(6px);
}
main .sambutan-card img {
    width: 250px;
    border-radius: 100%;
}
/* SAMBUTAN CARD PRESMA */
main .presma {
    background: linear-gradient(to bottom right, #FFB69277, #D3506B88, #D3506B99, #FFB792AA);
}
/* SAMBUTAN CARD WAPRESMA */
main .wapresma {
    background: linear-gradient(to bottom left, #FFB69277, #D3506B88, #D3506B99, #FFB792AA);
}
/* SAMBUTAN JABATAN */
main .sambutan-jabatan {
    padding: 4px 30px;
    font-size: 1.15rem;
    font-weight: 600;
    color: #FFF;
    background-color: #FFB79266;
    border-radius: 5px;
}
/* SAMBUTAN TEKS */
main .sambutan-card .sambutan-teks {
    text-align: center;
    color: #DFDFDF;
}
/* SAMBUTAN TEKS HIDDEN */
main .sambutan-card .sambutan-teks-hidden {
    margin-top: 30px;
    display: none;
    text-align: start;
    color: #FFF;
}
/* JIKA TOGGLE DI TEKAN */
#toggle-teks-p:checked ~ .sambutan-teks-hidden {
    display: block;
}
#toggle-teks-wp:checked ~ .sambutan-teks-hidden {
    display: block;
}
/* SAMBUTAN HIDDEN CHECKBOX */
main .sambutan-card #toggle-teks-p {
    display: none;
}
main .sambutan-card #toggle-teks-wp {
    display: none;
}
/* SAMBUTAN TOGGLE */
main .sambutan-toggle label {
    cursor: pointer;
    padding: 0 100px;
    font-size: 5px;
    background: linear-gradient(to right, #FFB792EE, #FFC3CDEE);
    border-radius: 50px;
}