* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';
    background-color: #EEE;
}

/* NAVIGASI */
nav {
    z-index: 999;
    top: 0;
    position: sticky;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEEAA;
    backdrop-filter: blur(10px);
}
/* NAV LOGO */
nav .nav-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    transition: all .2s ease-in-out;
}
nav .nav-logo a:hover {
    color: #666;
}
nav .nav-logo img {
    width: 60px;
}
nav .nav-logo h2 {
    font-weight: 600;
}
/* NAV MENU */
nav .nav-menu ul {
    display: flex;
    gap: 10px;
}
nav .nav-menu a {
    padding: 5px 10px;
    color: #333;
    transition: all .2s ease-in-out;
}
nav .nav-menu a:hover {
    color: #D3506B;
}
nav .nav-menu a.aktif {
    color: #D3506B;
}

/* HEADER */
header {
    padding: 40px 50px;
    background: radial-gradient(#FFB79288, #EEE, #EEE);
}
header .head-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* KABINET */
header .head-kabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .head-kabinet .nama-kabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .head-kabinet .kabinet {
    font-size: 2rem;
    color: #333;
}
header .head-kabinet .nama-kabinet {
    font-size: 3rem;
    background: linear-gradient(to right, #FFB792, #D3506B, #FFB792);
    background-clip: text;
    color: transparent;
}
header .head-kabinet .nama-kabinet h2:last-child {
    margin-top: -40px;
}
/* LOGO BEM */
header .head-bem {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .head-bem img {
    width: 50%;
}

/* MAIN */
main {
    padding: 40px 50px;
    background: linear-gradient(to bottom, #EEE, #EEE, #FFB79288, #EEE, #EEE);
}
/* MAIN HEAD */
main .main-head {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    color: #333;
}
/* FILOSOFI LOGO */
main .filosofi-logo-container {
    padding: 40px;
    background-color: #EEEEEE66;
    border-radius: 20px;
}
main .filosofi-logo {
    display: grid;
    grid-template-columns: auto auto;
}
/* FILOSOFI LOGO BOX */
main .filosofi-logo .logo {
    width: 95%;
    padding: 25px 35px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}
/* LOGO UNSUR */
main .filosofi-logo .logo-unsur {
    text-align: center;
    font-size: 1.5rem;
}
main .filosofi-logo .logo-unsur h3 {
    font-weight: 400;
    color: #666 ;
}
main .filosofi-logo .logo-unsur h3:last-child {
    margin-top: -10px;
    font-weight: 700;
    color: #D3506B;
}
/* LOGO TEKS */
main .filosofi-logo .logo-teks h3 {
    color: #333;
    font-weight: 550;
}
main .filosofi-logo .logo-teks p {
    color: #666;
}
/* LOGO GAMBAR */
main .filosofi-logo img {
    width: 15rem;
}

/* FILOSOFI KABINET */
main .filosofi-kabinet-container {
    padding: 40px;
}
main .filosofi-kabinet .fk-nama-kabinet {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right, #FFB792, #D3506B, #FFB792);
    background-clip: text;
    color: transparent;
}
main .filosofi-kabinet .fk-nama-kabinet h2:last-child {
    margin-top: -40px;
}
/* ARTI */
main .filosofi-kabinet .fk-arti {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
main .filosofi-kabinet .fk-arti .arti {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to bottom right, #FFB792EE, #D3506B88, #D3506B88, #FFB792EE);
    border-radius: 10px;
}
main .filosofi-kabinet .fk-arti .arti h3 {
    color: #FFF;
}
main .filosofi-kabinet .fk-arti .arti P {
    color: #EEE;
}
/* HARAPAN */
main .filosofi-kabinet .harapan {
    padding: 15px 20px;
    margin-top: 30px;
    text-align: justify;
    color: #666;
    border: 1.5px solid #666;
    border-radius: 10px;
}

/* FILOSOFI WARNA */
main .filosofi-warna-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
main .filosofi-warna-container .warna-filosofi {
    padding: 20px 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #FFFFFF, #E0E0E0, #FFFFFF);
    border-radius: 10px;
}
main .filosofi-warna-container .warna-filosofi-container {
    display: grid;
    grid-template-columns: auto auto;
}
main .filosofi-warna-container .filosofi-warna-logo img {
    width: 20rem;
}
main .filosofi-warna-container .warna-filosofi .warna {
    width: 80%;
    padding: 20px;
}
main .filosofi-warna-container .warna-filosofi .warna span {
    width: 100%;
    display: block;
    font-size: 3.5rem;
    border-radius: 10px;
}
/* PEACH */
main .filosofi-warna-container .warna-filosofi .warna .peach {
    background: linear-gradient(to right, #D3506B, #FFB792);
}
/* UNGU */
main .filosofi-warna-container .warna-filosofi .warna .ungu {
    background: linear-gradient(to right, #58236B, #F6DEFF, #58236B);
}
/* WARNA KODE */
main .filosofi-warna-container .warna-filosofi .warna .warna-kode {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
main .filosofi-warna-container .warna-filosofi .warna .warna-kode b {
    padding: 0 10px;
    border-radius: 2px;
}
/* WARNA KODE PEACH */
main .filosofi-warna-container .warna-filosofi .warna .warna-kode .darkpeach {
    background-color: #D3506B;
}
main .filosofi-warna-container .warna-filosofi .warna .warna-kode .lightpeach {
    background-color: #FFB792;
}
/* WARNA KODE UNGU */
main .filosofi-warna-container .warna-filosofi .warna .warna-kode .darkungu {
    background-color: #58236B;
}
main .filosofi-warna-container .warna-filosofi .warna .warna-kode .lightungu {
    background-color: #F6DEFF;
}
main .filosofi-warna-container .warna-filosofi .warna .warna-kode .darkungu {
    background-color: #58236B;
}