:root {
    --primary-color: #D3506B;
    --secondary-color: #FFB792;
    --light-purple: #F6DEFF;
    --dark-purple: #58236B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #444444;
}

html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

body {
    font-family: 'Poppins';
    background-color: #FFFFFF;
    overflow-x: hidden;
}

img {
    width: 4rem;
    display: block;
}

svg {
    fill: #444;
    display: block;
}

/* NAVBAR */
nav {
    z-index: 99;
    top: 0;
    position: sticky;
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #FFFFFF;
}

nav .nav-logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

nav .nav-logo p {
    font-size: 1.5rem;
    font-weight: 500;
}

nav .nav-menu {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .nav-menu a {
    padding: .5rem 0;
}
nav .nav-menu a:hover {
    color: var(--primary-color);
}
nav .nav-menu a:active {
    color: var(--secondary-color);
}
nav .nav-menu a.active {
    color: var(--primary-color);
}

nav .nav-menu .dropdown {
    cursor: default;
}
nav .nav-menu .dropdown:hover > a {
    color: var(--primary-color);
}
nav .nav-menu .dropdown:hover > a svg {
    fill: var(--primary-color);
}

nav .nav-menu .dropdown > a {
    display: flex;
    align-items: center;
    gap: 0;
}
nav .nav-menu .dropdown > a:hover > svg {
    fill: var(--primary-color);
}

/* NAV DROPDOWN | NONE */
nav .nav-menu .dropdown .dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #D1D2DB;
}

nav .nav-menu .dropdown .dropdown-content a {
    display: block;
    padding: 5px 10px;
}
nav .nav-menu .dropdown .dropdown-content a:hover {
    background-color: #F1F2FB;
}

/* NAV DROPDOWN SHOW */
nav .nav-menu .dropdown:hover .dropdown-content {
    display: block;
}

/* CHECBOX OPEN SIDEBAR */
#sidebar-active {
    display: none;
}
#sidebar-active:checked ~ .sidebar {
    right: 0;
}
#sidebar-active:checked ~ .overlay {
    display: block;
}

/* OPEN SIDEBAR */
.open-sidebar {
    cursor: pointer;
}
.open-sidebar:hover {
    fill: #777;
}
/* CLOSE SIDEBAR */
.close-sidebar {
    cursor: pointer;
}
.close-sidebar:hover {
    fill: #777;
}
/* OVERLAY */
.overlay {
    top: 0;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 100vh;
    position: absolute;
    display: none;
    transition: .8s ease-in-out;
}

/* SIDEBAR MENU */
.sidebar {
    top: 0;
    right: -1000px;
    width: 65%;
    height: 100vh;
    position: absolute;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #E1E2EB;
    transition: .8s ease-in-out;
}

.sidebar .sidebar-close {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BBBBBBAA;
}
.sidebar .sidebar-close p {
    font-size: 22px;
    font-weight: 500;
}

.sidebar .sidebar-menu {
    line-height: 2;
}

.sidebar .sidebar-menu a {
    display: block;
}
.sidebar .sidebar-menu a:hover {
    color: var(--primary-color);
}
.sidebar .sidebar-menu a.active {
    color: var(--primary-color);
}
.sidebar .sidebar-menu .sidebar-dropdown:hover > a {
    color: var(--primary-color);
}
.sidebar .sidebar-menu .sidebar-dropdown:hover > a svg {
    fill: var(--primary-color);
}

.sidebar .sidebar-menu .sidebar-dropdown > a {
    cursor: default;
    display: flex;
    align-items: center;
}
.sidebar .sidebar-menu .sidebar-dropdown > a:hover svg {
    fill: var(--primary-color);
}

.sidebar .sidebar-menu .sidebar-dropdown .sidebar-dropdown-content {
    padding-left: 1rem;
    border-left: 1px solid #BBBBBBAA;
}

.sidebar .sidebar-menu .sidebar-dropdown .sidebar-dropdown-content a {
    display: block;
}

/* MAIN */
main {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

main section > h2 {
    margin-bottom: 3rem;
    font-size: clamp(2rem, 6vw, 3rem);
    font-weight: 400;
    text-align: center;
}

/* FILOSOFI LOGO */
main .filosofi-logo {
    margin: 0 15rem;
}

main .filosofi-logo .logo-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

main .filosofi-logo .logo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border: 1px solid #44444450;
    border-radius: 10px;
}

main .filosofi-logo .logo img {
    width: 200px;
    margin-bottom: 1rem;
}

main .filosofi-logo .logo span {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: var(--primary-color);
}

main .filosofi-logo .logo p {
    text-align: center;
}

/* FILOSOFI NAMA */
main .filosofi-nama .nama-kabinet h2 {
    padding: 1rem 3rem;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    border: 1px solid #D3506B50;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color), var(--primary-color), var(--secondary-color));
    color: transparent;
    background-clip: text;
    border-radius: 100px;
}

main .filosofi-nama .nama-container {
    margin: 0 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

main .filosofi-nama .nama-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .filosofi-nama .nama-wrap .nama {
    padding: 1rem 0;
    border-bottom: 1px solid #44444450;
}

main .filosofi-nama .nama-wrap .nama span {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.3rem;
}

/* FILOSOFI WARNA */
main .filosofi-warna {
    margin: 0 15rem;
}

main .filosofi-warna .warna-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

main .filosofi-warna .warna-container img {
    width: 250px;
}

main .filosofi-warna .warna-wrap {
    display: flex;
    gap: 3rem;
}

main .filosofi-warna .warna-wrap .warna {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main .filosofi-warna .warna-wrap .warna img {
    width: 200px;
}

main .filosofi-warna .warna-wrap .warna p {
    text-align: center;
}

/* FOOTER */
footer {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #F1F2FB;
}

footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer-bem {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .footer-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}
footer .footer-logo p {
    font-size: 1.5rem;
    font-weight: 500;
}

footer .footer-wrap .footer-links {
    display: flex;
    gap: 2rem;
}

footer .footer-links p {
    margin-bottom: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

footer .footer-links a:hover {
    color: var(--primary-color);
}
footer .footer-links a:hover i {
    color: var(--primary-color);
}
footer .footer-links a.instagram::after {
    content: " Instagram";
}
footer .footer-links a.instagram:hover::after {
    content: " bemstikomcki_";
}
footer .footer-links a.facebook::after {
    content: " Facebook";
}
footer .footer-links a.facebook:hover::after {
    content: " BEM Stikom CKI";
}
footer .footer-links a.email::after {
    content: " Email";
}
footer .footer-links a.email:hover::after {
    content: " bemstikomcki2024";
}
footer .footer-links a.whatsapp::after {
    content: " WhatsApp";
}
footer .footer-links a.whatsapp:hover::after {
    content: " HUMAS";
}

footer .footer-copy {
    padding-top: 2rem;
    border-top: 1px solid #BBBBBBAA;
    text-align: center;
}



/* RESPONSIVE BREAKPOINTS */
@media (max-width: 576px) {
    nav {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    nav .nav-logo p {
        font-size: 24px;
    }

    nav .nav-menu {
        display: none;
    }

    /* MAIN | FILOSOFI LOGO */
    main .filosofi-logo {
        margin: 10px;
    }

    main .filosofi-logo .logo-wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* MAIN | FILOSOFI NAMA */
    main .filosofi-nama .nama-container {
        margin: 10px;
    }

    /* MAIN | FILOSOFI WARNA */
    main .filosofi-warna {
        margin: 10px;
    }

    main .filosofi-warna .warna-container .warna-wrap {
        display: flex;
        flex-direction: column;
    }

    main .filosofi-warna .warna-wrap .warna {
        width: 100%;
    }

    /* FOOTER */
    footer {
        padding: 3rem 10px;
    }

    footer .footer-bem {
        width: 100%;
    }

    footer .footer-wrap {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    footer .footer-links {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 576px) {
    nav .open-sidebar {
        display: none;
    }
}