<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEM STIKOM CKI 2024</title>
    <link rel="shortcut icon" href="src/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="src/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/style.css">
    <script src="https://kit.fontawesome.com/98721b54aa.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- NAVBAR -->
    <nav>
        <a href="index.html">
            <img src="/src/images/logobem.png" alt="Logo BEM STIKOM CKI">
            <h2>BEM STIKOM CKI</h2>
        </a>
        <ul class="nav-menu">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="tentang.html">Tentang Kami</a></li>
            <li class="nav-dropdown">
                <a href="kementerian.html">Kementerian <i class="fa-solid fa-chevron-down" style="font-size: 10px;"></i></a>
                <ul class="nav-dropdown-content">
                    <li><a href="">Sekretaris</a></li>
                    <li><a href="">Bendahara</a></li>
                    <li><a href="">Humas</a></li>
                    <li><a href="">Adkesma</a></li>
                    <li><a href="">Depkominfo</a></li>
                    <li><a href="">Regional UKM</a></li>
                </ul>
            </li>
        </ul>
        <input type="checkbox" name="checkbox" id="checkbox">
        <div class="sidebar">
            <ul class="sidebar-menu">
                <label for="checkbox" class="close-sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="undefined"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </label>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="tentang.html">Tentang Kami</a></li>
                <li class="sidebar-dropdown">
                    <a href="#">Kementerian <i class="fa-solid fa-arrow-turn-down" style="font-size: 10px;"></i></a>
                    <ul class="sidebar-dropdown-content">
                        <li><a href="">Sekretaris</a></li>
                        <li><a href="">Bendahara</a></li>
                        <li><a href="">Humas</a></li>
                        <li><a href="">Adkesma</a></li>
                        <li><a href="">Depkominfo</a></li>
                        <li><a href="">Regional UKM</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <label for="checkbox" id="overlay"></label>
        <label for="checkbox" class="open-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="undefined"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
        </label>
    </nav>

    
</body>
</html>